.loginContainer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 180px 70px 24px;
  }
  
  @media (max-width: 991px) {
    .loginContainer {
      padding: 100px 20px 0;
    }
  }
  
  .contentWrapper {
    display: flex;
    width: 552px;
    max-width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .logoContainer {
    background-color: #fff;
    align-self: start;
    display: flex;
    margin-top: 107px;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    padding: 24px;
  }
  
  @media (max-width: 991px) {
    .logoContainer {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  
  .logoWrapper {
    display: flex;
    min-height: 90px;
    width: 100%;
    gap: 24px;
  }
  
  .mainContent {
    display: flex;
    flex-direction: column;
  }
  
  .logo {
    aspect-ratio: 3.97;
    object-fit: contain;
    object-position: center;
    width: 357px;
  }
  
  .formContainer {
    align-self: center;
    display: flex;
    margin-top: 80px;
    width: 254px;
    max-width: 100%;
    flex-direction: column;
    justify-content: start;
  }
  
  @media (max-width: 991px) {
    .formContainer {
      margin-top: 40px;
    }
  }
  
  .formWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: DM Sans, sans-serif;
    font-weight: 600;
    justify-content: start;
  }
  
  .inputWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
  }
  
  .inputLabel {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 14px;
    color: #babdc0;
    white-space: nowrap;
    justify-content: start;
  }
  
  @media (max-width: 991px) {
    .inputLabel {
      white-space: initial;
    }
  }
  
  .input {
    align-self: stretch;
    border-radius: 8px;
    width: 100%;
    gap: 4px;
    padding: 16px;
    border: 1px solid #2d3641;
  }
  
  @media (max-width: 991px) {
    .input {
      white-space: initial;
    }
  }
  
  .loginButton {
    align-self: center;
    border-radius: 12px;
    background-color: #2d3641;
    margin-top: 60px;
    width: 126px;
    max-width: 100%;
    gap: 10px;
    font-size: 12px;
    color: #fff;
    padding: 16px;
    border: 1px solid #2d3641;
  }
  
  @media (max-width: 991px) {
    .loginButton {
      margin-top: 40px;
    }
  }
  
  .signupText {
    color: rgba(45, 54, 65, 0.66);
    font-size: 14px;
    text-align: center;
    margin-top: 60px;
  }
  
  @media (max-width: 991px) {
    .signupText {
      margin-top: 40px;
    }
  }
  
  .footer {
    align-self: center;
    display: flex;
    margin-top: 66px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 991px) {
    .footer {
      margin-top: 40px;
    }
  }
  
  .socialIcons {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: start;
  }
  
  .socialIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .copyright {
    color: #2d3641;
    margin-top: 16px;
    font: 600 14px DM Sans, sans-serif;
  }
  
  .visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }