.header {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 40px 100px;
    font-size: 12px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  /* @media (max-width: 991px) {
    .header {
      max-width: 100%;
    }
  } */
  
  .newChatButton {
    border-radius: 12px;
    background-color: #2d3641;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    justify-content: center;
    width: 126px;
    padding: 16px;
    border: 1px solid #2d3641;
    cursor: pointer;
  }
  
  .buttonIcon {
    width: 20px;
    height: 20px;
  }
  
  .searchForm {
    border-radius: 36px;
    display: flex;
    min-width: 240px;
    align-items: center;
    color: rgba(45, 54, 65, 0.5);
    justify-content: space-between;
    width: 531px;
    padding: 8px 16px;
    border: 1px solid rgba(45, 54, 65, 0.5);
  }
  
  /* @media (max-width: 991px) {
    .searchForm {
      max-width: 100%;
    }
  } */
  
  .searchInput {
    border: none;
    background: transparent;
    color: #2d3641;
    width: 100%;
  }
  
  .searchInput::placeholder {
    color: rgba(45, 54, 65, 0.5);
  }
  
  .searchIcon {
    width: 12px;
    height: 12px;
  }
  
  .currentDate {
    color: #2d3641;
    font-weight: 700;
    text-align: right;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }